<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="o-parse-login-button">
	<template>
		<button on-click="loginFacebook">Facebook login</button>
	</template>
</dom-module>

<script>
	Polymer({
		is:"o-parse-login-button",
		ready: function(){
			window.fbAsyncInit = function() {
			Parse.FacebookUtils.init({
				appId      : '138466529835768',
				//status     : true,  // check Facebook Login status
				cookie     : true,  // enable cookies to allow Parse to access the session
				xfbml      : true,
				version    : 'v2.4'
			});
			 (function(d, s, id){
			 var js, fjs = d.getElementsByTagName(s)[0];
			 if (d.getElementById(id)) {return;}
			 js = d.createElement(s); js.id = id;
			 js.src = "//connect.facebook.net/en_US/sdk.js";
			 fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		},
		
		loginFacebook: function(){		
			Parse.FacebookUtils.logIn(null, {
				success: function(user) {
					if (!user.existed()) {
					  alert("User signed up and logged in through Facebook!");
					} else {
					  alert("User logged in through Facebook!");
					}
				},
				error: function(user, error) {
					alert("User cancelled the Facebook login or did not fully authorize.");
				}
			});
		}
	});
</script>