<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="o-parse-login-button">
	<template>
		<button on-click="loginFacebook">Facebook login</button>
	</template>
	
<script>
	Polymer({
		is:"o-parse-login-button",
		ready: function(){
			window.fbAsyncInit = function() {
			Parse.FacebookUtils.init({
				appId      : '138466529835768',
				//status     : true,  // check Facebook Login status
				cookie     : true,  // enable cookies to allow Parse to access the session
				xfbml      : true,
				version    : 'v2.4'
			});
			};
			 var js, fjs = document.getElementsByTagName('script')[0];
			 if (document.getElementById('facebook-jssdk')) {return;}
			 js = document.createElement('script'); js.id = 'facebook-jssdk';
			 js.src = "//connect.facebook.net/en_US/sdk.js";
			 fjs.parentNode.insertBefore(js, fjs);
		},
		
		loginFacebook: function(){		
			Parse.FacebookUtils.logIn(null, {
				success: function(user) {
					if (!user.existed()) {
					  alert("User signed up and logged in through Facebook!");
					} else {
					  alert("User logged in through Facebook!");
					}
				},
				error: function(user, error) {
					alert("User cancelled the Facebook login or did not fully authorize.");
				}
			});
		}
	});
</script>
	
</dom-module>
