<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<dom-module id="o-parse-pulls">
	<template>
		<ul>
			<iron-list items="[[pulls]]" as="pull">
				<template>
					<li><a href="[[addHash(pull.id)]]">[[pull.attributes.question]]</a></li>
				</template>
			</iron-list>
		</ul>
	</template>
	
	<script>
	Polymer({
		is:"o-parse-pulls",
		ready: function(){
			
		},
		addHash : function(s){
			return '#' + s;
		},
		loadPulls : function(){
			var root = this;
			var Pull = Parse.Object.extend("Pull");
			var query = new Parse.Query(Pull);
			query.limit(25);
			query.descending("createdAt");
			query.find({
				success: function(results) {
					root.pulls = results;
					console.dir(results);
				}
			});
		}	
	});
</script>
</dom-module>

